@using Biblioteca.Models.Libro
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;


<ul class="navbar-nav ms-auto align-items-center">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="background-color:red">
            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-link nav-link text-dark w-100 p-2" style="background-color:red"><b>Logout</b></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark w-100 p-2" style="background-color:limegreen" asp-controller="Account" asp-action="Login"><b>Login</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark w-100 p-2" style="background-color:limegreen" asp-controller="Account" asp-action="Register"><b>Register</b></a>
        </li>
    }
</ul>