@using Biblioteca.ViewModels;
@model VerifyEmailViewModel;

@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-login">
        <h2 class="text-center mb-4" style="font-family:OMEGLE ; font-size: 45px">Verificar Email</h2>
        <form asp-action="VerifyEmail" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingrese Email" } })
                <label asp-for="Email">Ingrese Email</label>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <input type="submit" value="Verificar" class="btn btn-success w-100 p-2" />
            </div>
            <div class="text-center mb-2">
                <a asp-controller="Account" asp-action="Login" class="text-decoration-none mt-3"><b>Regresar</b> </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
