@{
    ViewData["Title"] = "Mision";
}

<div class="text-center">
    <div class="account-box2">
        <h1 class="display-4">Nuestra Misión</h1>
        <p>--------------------------------------------------------------------------------------------------------</p>
        <p style="font-size: 22px">
            "Nuestra misión es facilitar el acceso al conocimiento y la cultura a través de una plataforma digital
            inclusiva y fácil de usar. Nos esforzamos por ofrecer una amplia gama de recursos bibliográficos y educativos
            que promuevan la lectura, el aprendizaje continuo y la investigación. A través de nuestra Biblioteca Virtual,
            buscamos empoderar a los usuarios, proporcionando herramientas que enriquezcan su experiencia educativa y
            fomenten el amor por la lectura. Trabajamos para crear un entorno donde todos, sin importar su ubicación o
            nivel socioeconómico, puedan acceder a la información que necesitan para cumplir sus objetivos."
        </p>
    </div>
</div>

