@{
    ViewData["Title"] = "Nosotros";
}
<div class="text-center">
    <div class="account-box2">
        <h1 class="display-4">Acerca de Nosotros</h1><br><br>
        <p>--------------------------------------------------------------------------------------------------------</p>
        <p style="font-size: 22px">
            "En la era digital, la información y el conocimiento son más accesibles que nunca.
            Nuestra Biblioteca Virtual nace con el propósito de democratizar el acceso a recursos educativos y
            literarios, ofreciendo una plataforma donde usuarios de todas las edades y contextos pueden explorar,
            aprender y crecer. Nos dedicamos a proporcionar una vasta colección de libros, artículos, y recursos
            multimedia, todos disponibles con solo un clic. Nuestro equipo está conformado por bibliotecarios,
            educadores y expertos en tecnología, comprometidos en curar y actualizar continuamente nuestro contenido
            para satisfacer las necesidades de nuestra comunidad. Creemos en el poder de la lectura y el aprendizaje
            como herramientas fundamentales para el desarrollo personal y social."
        </p>
    </div>
</div>

