@{
    ViewData["Title"] = "Visión";
}

<div class="text-center">
    <div class="account-box2">
        <h1 class="display-4">Nuestra Visión</h1>
        <p>--------------------------------------------------------------------------------------------------------</p>
        <p style="font-size: 22px">
            "Nuestra visión es convertirnos en la principal Biblioteca Virtual de referencia, reconocida por nuestra
            excelencia en la curaduría de contenido y la innovación en el acceso a la información. Aspiramos a ser un
            espacio donde se fomente la curiosidad, la creatividad y el aprendizaje colaborativo, integrando tecnologías
            emergentes y prácticas educativas efectivas. En un mundo en constante cambio, queremos que nuestra Biblioteca
            Virtual sea un faro de conocimiento y un recurso invaluable para estudiantes, investigadores y cualquier
            persona interesada en expandir sus horizontes. A través de alianzas estratégicas y una comunidad activa,
            buscamos enriquecer la experiencia de nuestros usuarios y contribuir al desarrollo de una sociedad
            informada y educada."
        </p>
    </div>
</div>

